<div class="container mt-4" *ngIf="content">
    <div class="content-header d-flex justify-content-between align-items-center mb-3">
      <h2>{{ content.title }}</h2>
      <div>
        <button *ngIf="canEdit" class="btn btn-warning me-2" (click)="updateContent(content)">
          <i class="fa-solid fa-file-pen"></i> Update
        </button>
        <button *ngIf="canDelete" class="btn btn-danger" (click)="deleteContent(content)">
          <i class="fa-solid fa-trash-can"></i> Delete
        </button>
      </div>
    </div>
  
    <div class="content-body">

      <div [innerHTML]="content.body"></div>
      <p class="text-muted small">Uploaded by: {{ content.uploadedBy.username }}</p>
      <p class="text-muted small">Email: {{ content.uploadedBy.email }}</p>
      <p class="text-muted small">Uploaded at: {{ content.uploadedAt | date: 'medium' }}</p>
    </div>
  </div>
